@import url("https://fonts.googleapis.com/css?family=Montserrat");

:root {
    --earth: #EAE7DC;
    --pink-salmon: #E85A4F;
    --salmon: #E98074;
    --gold: #D8c3A5;
}

* {
    font-family: "Montserrat", sans-serif;
    background-color: var(--earth);
}

hr {
    height: 1px;
    border-width: 0;
    background-color: var(--gold);
}

a {
    color: var(--pink-salmon);
    text-decoration: none;
}

.scale-flex {
    display: flex;
    flex-direction: row;
}

section {
    padding: 0 15%;
    padding-top: 5%;
}

.text-centered {
    text-align: center;
}

.centered {
    align-items: center;
}

/* Navbar */
.top-navbar {
    display: flex;
    justify-content: space-between;
    font-size: large;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0 20px;
}

.checkbtn{
    font-size: 30px;
    color: var(--pink-salmon);
    float: right;
    line-height: 80px;
    display: none;
  }
#check{
    display: none;
}

/* Profile */

#mainProfile {
    border-radius: 100%;
    max-width: 100%;
    max-height: 100%;
}

#me {
    padding-top: 10%;
}

#me img{
    padding-bottom: 1rem;
}

.description {
    flex: 60%;
    padding-right: 3%;
}

.profile {
    flex: 40%;
    padding-right: 10%;
}

#fullname {
    padding: 0;
    margin: 0;
    font-size: 2em;
}

#myposition {
    padding: 0 0 1rem 0;
    color: var(--pink-salmon);
    font-size: medium;
    font-style: italic;
    margin-top: 1%;
}

.skill-lst {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 10px;
}

.subtitle {
    color: var(--salmon);
}

.secTitle {
    color: var(--pink-salmon);
    text-transform: uppercase;
}

.secTitleline {
    margin-top: 0;
    padding-top: 0;
}

.pinkitalic {
    color: var(--salmon);
    font-size: medium;
    font-style: italic;
    font-weight: lighter;
    margin-top: 0;
}

/* Experience section */

.ex-resize {
    max-width: 60%;
    max-height: auto;
    padding-bottom: 10%;
}

.exp-lst {
    flex-wrap: wrap;
    padding-top: 5%;
}

.exp-item {
    padding: 0 5%;
}
.exp-item h5{
    color: var(--pink-salmon) ;
    font-weight: lighter;
    font-style: italic;
}

.exp-logo {
    flex: 40%;
}

.exp-detail {
    flex: 60%;
    margin: 0 auto;
}
.exp-detail h2 {
    margin-bottom: 1%;
}
.exp-detail li {
    font-size: large;
}

/* Projects section */
.proj-item {
    padding: 0 5%;
    padding-top: 2%;
}

.proj-title {
    margin-bottom: 1%;
}

.projimg {
    max-width: 50%;
    max-height: auto;
}

.extra {
    max-width: 30%;
}

.projline {
    margin-top: 5%;
}

.proj-stack {
    margin-top: 0;
    color: var(--salmon);
}

/* Contact section */
.sologo {
    max-width: 60px;
    height: auto;
}

.clink {
    padding: 0 2%;
}

.contact-form {
    padding: 2% 5%;
}

input[type=text], input[type=email], button, textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--gold);
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    color: white;
    background-color: var(--salmon);
}

footer {
    padding: 1% 0;
}

@media (max-width: 600px) {
    section {
        padding-left: 5%;
        padding-right: 5%;
    }

    .scale-flex {
        flex-direction: column;
    }

    .skill-lst {
        grid-template-columns: repeat(3,1fr);
    }

    .projimg {
        max-width: 100%;
    }

    #mainProfile {
        max-width: 90%;
    }

    .info {
        padding-top: 15%;
    }

    .top-navbar {
        height: 60px;
    }

    .checkbtn{
        display: block;
    }

    .navbar{
        position: fixed;
        width: 100%;
        background: var(--earth);
        top: 50px;
        left: -130%;
        text-align: center;
        transition: all .5s;
        padding: 0;
    }
    .navbar li{
        display: block;
        margin: 10% 0;
    }
    #check:checked ~ ul{
        left: 0;
    }
}